body{

margin:0;
font-family:Arial;
background:#0b0f1a;
color:white;

}

header{

background:#111827;
padding:15px;
display:flex;
gap:10px;
align-items:center;

}

header input{

flex:1;
padding:10px;
border-radius:6px;
border:none;

}

.layout{

display:flex;
height:90vh;

}

aside{

width:230px;
background:#020617;
padding:20px;

}

aside li{

cursor:pointer;
margin:10px 0;

}

main{

flex:1;
padding:25px;
overflow:auto;

}

.card{

background:#111827;
padding:15px;
border-radius:10px;
margin-bottom:10px;

}

.modal{

position:fixed;
inset:0;
background:rgba(0,0,0,0.8);
display:flex;
align-items:center;
justify-content:center;

}

.modalBox{

background:#020617;
padding:25px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:10px;
width:350px;

}

input,textarea{

padding:8px;
border:none;
border-radius:6px;

}

button{

background:#2563eb;
border:none;
padding:10px;
border-radius:6px;
color:white;
cursor:pointer;

}

.hidden{
display:none;
}

.center{

display:flex;
flex-direction:column;
gap:10px;
align-items:center;
justify-content:center;
height:100vh;

}